<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>工单系统</title>
<!-- header binge -->
<include file="Public/header" />

<script type="text/javascript" src="{$Think.config.URL}js/new/unify.js"></script>
<script type="text/javascript" src="{$Think.config.URL}baidubianjiqi/third-party/jquery.min.js"></script>

<style type="text/css">
	a:hover{
		text-decoration:none;
    }
    .messagecontent{
        border: none;
    }
    .comments li:last-child .comment p{margin-top:15px;}
    .modal-comment form input[type='radio']{
        vertical-align: -2px;
    }
    .modal-comment form .label-title{
        display: inline-block;
        width: 150px;
    }    
    .modal-comment form input[type='radio']{
        margin-left: 10px;
    }    
    .td-select{
        height: 25px;
        width: 100%;
        margin: 0;
    }
</style>
</head>

<body>

<div class="mainwrapper">
    
    <!-- header binge -->
	<include file="Public/head" />

	<!-- header end -->
    
    <div class="rightpanel">
        
         <!-- head binge -->
        
			<include file="Public/nav" name='未指派工单'/>
		
		<!-- head end -->
		
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="messagepanel">
                    <!-- <div class="messagemenu" style="border-top: 1px solid #0866c6;"> -->
                        <!-- <ul>
                            <li class="back"><a><span class="iconfa-chevron-left"></span > Back</a></li>
                            <li <if condition="$data.case eq 'dai'">{$data.class}</if>><a href="{:U('Client/messages?case=dai')}" ><span></span> 待处理的工单</a></li>
                            <li <if condition="$data.case eq 'zhong'">{$data.class}</if>><a href="{:U('Client/messages?case=zhong')}"><span class="iconfa-inbox"></span> 正在研发中的工单</a></li>
                            <li <if condition="$data.case eq 'yi'">{$data.class}</if>><a href="{:U('Client/messages?case=yi')}"><span class="iconfa-edit"></span> 已关闭的工单</a></li>
                            <if condition="$data.limits eq '3'">
                            	<li <if condition="$data.case eq 'cao'">{$data.class}</if>><a href="{:U('Client/messages?case=cao')}"><span class="iconfa-edit"></span> 草稿箱</a></li>
                            </if>
                        </ul> -->
                    <!-- </div> -->
                    <div class="messagecontent">
                        <div class="form-wrap head sm-select">
                            <div class="left">
                                <label for="ticket_owned" class="form-label">所属客户</label>
                                <select id="ticket_owned">
                                    <option value="0">全部</option>
                                    <volist name="owned_field" id="vo">
                                        <if condition="$vo['id'] neq ''">
                                            <option value="{$vo.id}">{$vo.name}</option>
                                        </if>
                                    </volist>
                                </select>
                            </div>
                            <div class="left">
                                <label for="ticket_status" class="form-label">状态</label>
                                <select id="ticket_status">
                                    <option value="0">全部</option>
                                    <option value="1">待处理</option>
                                    <option value="2">正在研发中</option>
                                    <option value="4">待评价</option>
                                    <option value="3">已关闭</option>
                                </select>
                            </div>
                            <div class="left">
                                <label for="ticket_level" class="form-label">优先级</label>
                                <select id="ticket_level">
                                    <option value="0">全部</option>
                                    <option value="3">紧急</option>
                                    <option value="2">重要</option>
                                    <option value="1">一般</option>
                                </select>
                            </div>
                            <div class="left">
                                <label for="ticket_type" class="form-label">工单类型</label>
                                <select id="ticket_type">
                                    <option value="0">全部</option>
                                    <option value="1">产品BUG</option>
                                    <option value="2">新需求</option>
                                    <option value="3">投诉与建议</option>
                                    <option value="4">其它</option>
                                </select>
                            </div>
                            <div class="left">
                                <button type="button" class="btn btn-primary btn-lg" onclick="selectTicket()">查询</button>
                            </div>
                        </div>

                        <table class="table table-bordered table-fixed table-tr-click">
                            <tr>
                                <th width="5%">编号</th>
                                <th width="20%">标题</th>
                                <th width="6%">工单类型</th>
                                <th width="5%">优先级</th>
                                <th width="5%">状态</th>
                                <th width="5%">产品确认</th>
                                <th width="5%">研发确认</th>
                                <th width="10%">完成时间</th>
                                <th width="10%">工单发起人</th>
                                <th width="10%">受理人</th>
                                <th width="12%">创建日期</th>
                                <if condition="$data.case neq 'all'">
                                    <th width="12%">受理时间</th>
                                </if>
                            </tr>
                            <volist name="list" id="vo" empty="$list_empty">
                                <tr onclick="javascript:window.location.href='{:U(\'Admin/ticket_detail?case=\'.$data[\'case\'].\'&id=\'.$vo[\'id\'])}'">
                                    <td>{$vo.id}</td>
                                    <td>{$vo.title}</td>
                                    <td>
                                        <switch name="vo['work_type']">
                                            <case value="1">产品BUG</case>
                                            <case value="2">新需求</case>
                                            <case value="3">投诉与建议</case>
                                            <case value="4">其它</case>
                                        </switch>
                                    </td>
                                    <td>
                                        <switch name="vo['work_level']">
                                            <case value="1">一般</case>
                                            <case value="2">重要</case>
                                            <case value="3">紧急</case>
                                        </switch>
                                    </td>
                                    <td>
                                        <switch name="vo['wc_sataus']">
                                            <case value="1">待处理</case>
                                            <case value="2">正在研发中</case>
                                            <case value="4">待评价</case>
                                            <case value="3">已关闭</case>
                                            <case value="-1">草稿箱</case>
                                        </switch>
                                    </td>
                                    <td>
                                        <switch name="vo['work_product']">
                                            <case value="1">已确认</case>
                                            <case value="2">已拒绝</case>
                                            <default />--
                                        </switch>
                                    </td>
                                    <td>
                                        <switch name="vo['work_develop']">
                                            <case value="1">已确认</case>
                                            <case value="2">已拒绝</case>
                                            <default />--
                                        </switch>
                                    </td>
                                    <if condition="$vo['work_finish'] neq ''">
                                        <td>{$vo.work_finish|date="Y-m-d",###}</td>
                                    <else/>
                                        <td>--</td>
                                    </if>
                                    <td>
                                        {$vo.uname|default=" -- "}
                                    </td>
                                    <td onclick="stopProp()" data-id="{$vo.id}" class="select-ticket-agent">
                                        <select name="" id="" class="td-select">
                                            <option value="-1"> -- </option>
                                            <volist name="list_group_user" id="wuser">
                                                <option value="{$wuser.id}">{$wuser.uname}</option>
                                            </volist>
                                        </select>
                                    </td>
                                    <td>{$vo.puddate|date="Y-m-d H:i:s",###}</td>
                                    <if condition="$data.case neq 'all'">
                                        <if condition="$vo['accdate'] neq ''">
                                            <td>{$vo.accdate|date="Y-m-d H:i:s",###}</td>
                                        <else/>
                                            <td>--</td>
                                        </if>
                                    </if>
                                </tr>
                            </volist>
                        </table> 
                        {$page}
                    </div><!--messagecontent-->

                </div><!--messagepanel-->
                
            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->

<input type="hidden" value="{$data.case}" id="ticket_case">
<input type="hidden" value="{$ticket_type}" id="de_ticket_type">
<input type="hidden" value="{$ticket_status}" id="de_ticket_status">
<input type="hidden" value="{$ticket_level}" id="de_ticket_level">
<input type="hidden" value="{$ticket_owned}" id="de_ticket_owned">

</body>
<script>
    function selectTicket() {
        var ticket_status = jQuery("#ticket_status").val();
        var ticket_level = jQuery("#ticket_level").val();
        var ticket_type = jQuery("#ticket_type").val();
        var ticket_case = jQuery("#ticket_case").val();
        var ticket_owned = jQuery("#ticket_owned").val();
        
        var url = "{:U('Admin/ticket', array('case'=>'ticket_case','tktype'=>'ticket_type','tklevel'=>'ticket_level','tkstatus'=>'ticket_status','tkowned'=>'ticket_owned'))}";
        url = url.replace("ticket_case", ticket_case)
                 .replace("ticket_type", ticket_type)
                 .replace("ticket_level", ticket_level)
                 .replace("ticket_owned", ticket_owned)
                 .replace("ticket_status", ticket_status);
        $(location).attr('href', url);
    }

    jQuery(document).ready(function(){
        var de_ticket_type = jQuery("#de_ticket_type").val();
        var de_ticket_status = jQuery("#de_ticket_status").val();
        var de_ticket_level = jQuery("#de_ticket_level").val();
        var de_ticket_owned = jQuery("#de_ticket_owned").val();
        if (de_ticket_type) {
            jQuery("#ticket_type").val(de_ticket_type);
        }
        if (de_ticket_status) {
            jQuery("#ticket_status").val(de_ticket_status);
        }
        if (de_ticket_level) {
            jQuery("#ticket_level").val(de_ticket_level);
        }
        if (de_ticket_owned) {
            jQuery("#ticket_owned").val(de_ticket_owned);
        }

        //选择受理人
        jQuery(".select-ticket-agent select").change(function(){
            var val = $(this).val();
            var id = $(this).parents(".select-ticket-agent").data("id");
            if (val != "-1"){
                jQuery.ajax({
                    type: "post",
                    url: "{:U('Admin/set_ticket_agnet')}",
                    data: {
                        id: id,
                        agent: val
                    },
                    success: function(data){
                        if (data.code == 0) {
                            window.location.reload();
                        }
                    }
                })
            }
        })
    })

    function stopProp() {
        //阻止冒泡
        window.event?window.event.cancelBubble=true:event.stopPropagation();
    }
</script>
</html>
