<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>工单系统</title>
<!-- header binge -->
<include file="Public/header" />
<link rel="stylesheet" href="{$Think.config.URL}css/ticket.css">
<script type="text/javascript" src="{$Think.config.URL}js/new/unify.js"></script>

<style type="text/css">
    .rightpanel{
        margin: 0;
    }
    .messageright{
        margin: 0;
    }
    .comments li:last-child .comment p{margin-top:15px;}
    .modal-comment form input[type='radio']{
        vertical-align: -2px;
    }
    .modal-comment form .label-title{
        display: inline-block;
        width: 150px;
    }    
    .modal-comment form input[type='radio']{
        margin-left: 10px;
    }   
    
    .ticket-initiator{
        padding: 10px 20px;
        background: #FFF;
        border-bottom: none;
        font-size: 14px;
        text-align: center;
    }
    .title-tip{
        margin-right: 10px;
        border-left: 5px solid #0866c6;
    }
    .messageleft{
        background: #FFF;
        border-top: 1px solid #0866c6;
        padding: 20px;
        box-sizing: border-box;
        padding-bottom: 9999px;
	    margin-bottom: -9999px;
    }
    .messageview{
        height: auto;
    }
    .msgreply{
        border-top: none;
    }
    .form-ticket-status select{
        width: 100%;
    }
    .record-list{
        padding: 0 15px;
    }
    .record-list li{
        position: relative;
        list-style: none;
        margin-bottom: 20px;
        padding-top: 10px;
        border-top: 1px solid #EEE;
    }
    .record-list li::before{
        content: '';
        width: 3px;
        height: 15px;
        background: #0866c6;
        position: absolute;
        left: -10px;
        top: 12px;
    } 
    .comment-wrap {
        margin: 30px 0;
    }
    .comment-wrap .comment-title{
        font-size: 14px;
        margin-bottom: 10px;
    }
    .comment-wrap .comment-item+.comment-item{
        margin-top: 10px;
    }
    .comment-wrap .comment-item-label{
        border-left: 2px solid #999;
        padding-left: 10px;
        margin-right: 10px;
    }    
    .icon-comment{
        vertical-align: bottom;
        margin-right: 5px;
    }
</style>
</head>

<body>

<div class="mainwrapper">
    <!-- header binge -->
    <include file="Public/head" />
    
    <div class="rightpanel" style="margin-left: 260px;">
        <!-- head binge -->
        <include file="Public/nav" name='工单详情'/>
        <!-- head end -->
        <div class="maincontent">
            <div class="">
                <div class="messagepanel">
                    <div class="ticket-info">
                        <div class="">
                            <div class="ticket-info-title">
                                工单详情
                            </div>
                            <div class="ticket-info-main">
                                <form class="form-ticket-status" id="form_ticket_statues" action="{:U('Client/messages')}" method="post" enctype="multipart/form-data">
                                    <!-- <div>
                                        <label>受理用户组</label>
                                        <select name="" id="">
                                            <option value="">请选择</option>
                                            <volist name="list_group" id="vo">
                                                <option value="{$vo.id}">{$vo.status}</option>
                                            </volist>
                                        </select>
                                    </div> -->
                                    <div>
                                        <label>受理人</label>
                                        <select id="select_ticket_agent" <if condition="$main.wc_sataus eq '3'">disabled</if>>
                                            <option value="-1"> -- </option>
                                            <volist name="list_group_user" id="vo">
                                                <option value="{$vo.id}" <if condition="$vo[id] eq $main[w_did]">selected</if> >{$vo.uname}</option>
                                            </volist>
                                        </select>
                                    </div>
                                    <div style="margin-top: 20px;">
                                        <label>工单状态</label>
                                        <select id="select_ticket_status" <if condition="$main.wc_sataus eq '3'">disabled</if>>
                                            <option value="1" <if condition="$main.wc_sataus eq '1'">selected</if> >待处理</option>
                                            <option value="2" <if condition="$main.wc_sataus eq '2'">selected</if> >正在研发中</option>
                                            <option value="4" <if condition="$main.wc_sataus eq '4'">selected</if> >待评价</option>
                                        </select>
                                    </div>

                                    <div style="margin-top: 20px;">
                                        <label>产品确认</label>
                                        <select id="select_ticket_product" <if condition="$main.wc_sataus eq '3'">disabled</if>>
                                            <option value="0" <if condition="$main.work_product eq ''">selected</if> >--</option>
                                            <option value="1" <if condition="$main.work_product eq '1'">selected</if> >已确认</option>
                                            <option value="2" <if condition="$main.work_product eq '2'">selected</if> >已拒绝</option>
                                        </select>
                                    </div>

                                    <div style="margin-top: 20px;">
                                        <label>研发确认</label>
                                        <select id="select_ticket_develop" <if condition="$main.wc_sataus eq '3'">disabled</if>>
                                            <option value="0" <if condition="$main.work_develop eq ''">selected</if> >--</option>
                                            <option value="1" <if condition="$main.work_develop eq '1'">selected</if> >已确认</option>
                                            <option value="2" <if condition="$main.work_develop eq '2'">selected</if> >已拒绝</option>
                                        </select>
                                    </div>

                                    <div style="margin-top: 20px;">
                                        <label>完成时间</label>
                                        <input type="text" id="ticket_finish" style="width:100%;box-sizing:border-box;height:30px;" <if condition="$main.wc_sataus eq '3'">disabled</if>>
                                    </div>
                                </form>

                                <div>
                                    <p class="ticket-info-label"><i class="icon-doc"></i>工单信息</p>
                                    <div class="ticket-info-detail">
                                        <p>
                                            <span class="info-label">工单号：</span>
                                            {$main.w_id}
                                        </p>
                                        <p>
                                            <span class="info-label">优先级：</span>
                                            <switch name="main['w_level']">
                                                <case value="1">一般</case>
                                                <case value="2">重要</case>
                                                <case value="3">紧急</case>
                                                <default /> --
                                            </switch>
                                        </p>
                                        <p>
                                            <span class="info-label">工单类型：</span>
                                            <switch name="main['w_type']">
                                                <case value="1">产品BUG</case>
                                                <case value="2">新需求</case>
                                                <case value="3">投诉与建议</case>
                                                <case value="4">其它</case>
                                                <default /> --
                                            </switch>
                                        </p>
                                        <p>
                                            <span class="info-label">创建时间：</span>
                                            {$main.w_puddate|date="Y-m-d H:i:s",###}
                                        </p>
                                        <p>
                                            <span class="info-label">受理时间：</span>
                                            <if condition="$main['w_accdate'] neq ''">
                                                {$main.w_accdate|date="Y-m-d H:i:s",###}
                                            <else/>
                                                --
                                            </if>
                                        </p>
                                        <p>
                                            <span class="info-label">发起人：</span>
                                            {$main.u_uname}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ticket-main messagecontent">
                        <div class="ticket-head">
                            工单详情
                            <a href="javascript:history.go(-1);" class="back left underline"><  返回</a>
                        </div>
    
                        <div class="messageright cell">
                            <div class="messageview" style="<if condition="$data.status eq 3">height:100%</if>">
                                <div class="ticket-title">
                                    {$main.w_title}
                                </div>
    
                                <div class="ticket-content">
                                    <div>
                                        {$main.w_issue}
                                    </div>
                                    <div class="ticket-file">
                                        <notempty name="file_arr[0]">
                                            <p class="left">附件：</p>
                                            <div class="cell">
                                                <foreach name="file_arr" item="vo" key="k">
                                                    <div class="ticket-file-item" id="picture{$k}" title="{$vo['file_name']}">
                                                        <div>
                                                            <div class="left">
                                                                <i class="icon-file"></i>
                                                                <input type="hidden" name="photo01[]" value="{$vo['id']}">
                                                            </div>
                                                            <div class="left file-text">
                                                                <p class="overlfow-text" style="max-width: 100px;">{$vo['file_name']}</p>
                                                                <a href="{:U('Client/download_file',array('fileid'=>$vo['id']))}" target="_blank">下载</a>
                                                            </div>
                                                            <!-- <div style="margin-top:5px ;text-align:center;">
                                                                <a href="javascript:void()" onclick="del_tp('picture{$k}');">删除</a>
                                                            </div> -->
                                                        </div>
                                                    </div>
                                                </foreach>
                                            </div>
                                        </notempty>	
                                    </div>
                                    
                                    <if condition="$data.limits eq 3 and $data.case eq 'zhong'">
                                        <p style="color:red;">【备注】：若本工单已无问题，请点击右上角的“结束”按钮，本工单将处理完毕，将会在“已处理的工单”处显示。</p>
                                    </if>
                                </div><!--msgbody-->

                                <!-- comment -->
                                <if condition="$main.wc_sataus eq '3'">
                                    <div class="comment-wrap">
                                        <p class="comment-title"><i class="icon-comment"></i>工单评价</p>
                                        <p class="comment-item">
                                            <span class="comment-item-label">问题是否已经解决</span>
                                            <switch name="comment.resolve">
                                                <case value="1">
                                                    <span class="label">是</span>
                                                </case>
                                                <case value="0">
                                                    <span class="label">否</span>
                                                </case>
                                            </switch>
                                        </p>
                                        <p class="comment-item">
                                            <span class="comment-item-label">服务评价</span>
                                            <switch name="comment.assess">
                                                <case value="3">
                                                    <span class="label">非常满意</span>
                                                </case>
                                                <case value="2">
                                                    <span class="label">满意</span>
                                                </case>
                                                <case value="1">
                                                    <span class="label">一般</span>
                                                </case>
                                                <case value="0">
                                                    <span class="label">不满意</span>
                                                </case>
                                            </switch>
                                        </p>
                                    </div>
                                </if>
                                <!-- comment end -->

                                <div style="margin-top: 10px;">
                                    <div class="head-tab">
                                        <ul>
                                            <li class="on">
                                                <a onclick="showTabItem(0)">服务记录</a>
                                            </li>
                                            <li>
                                                <a onclick="showTabItem(1)">操作日志</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content-wrap">
                                    <div class="tab-item">
                                        <div class="msg-reply-wrap" id="reply_wrap">
                                            <volist name='record' id="vo" empty="$record_empty">
                                                <div class="msgauthor">
                                                    <div class="left head-portrait">
                                                        <i class="icon-person"></i>
                                                    </div>
                                                    <div class="cell reply-right">
                                                        <div class="">
                                                            <span class="name">{$vo.uname}</span>
                                                            <span class="date">{$vo.repdate|date="Y-m-d H:i:s",###}</span>
                                                        </div>
                                                
                                                        <div clas="">
                                                            <div class="msgbody <if condition="$vo['uid'] eq $data['uid']">mine</if>">
                                                                {$vo.g_reply}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!--msgauthor-->
                                            </volist>
                                        </div>
                                    </div>
                                    <div class="tab-item">
                                        <ul class="record-list">
                                            <volist name="data.record" id="vo">
                                                <li>
                                                    <p class="note2">{$vo.time|date="Y-m-d H:i:s",###}</p>
                                                    {$vo.uname}{$vo.event}
                                                </li>
                                            </volist>
                                        </ul>
                                    </div>
                                </div>
    
                                <if condition="$data.status neq '3'">	
                                    <div class="msgreply" >
                                        <form id="form_ticket" action="{:U('Admin/submit_ticket_agent?case=\'.$data[\'url_status\'])}" method="post" enctype="multipart/form-data" target="rfFrame">
                                            <input type="hidden" name="ticket_agent" id="form_agent">
                                            <input type="hidden" name="ticket_agent_name" id="form_agent_name">
                                            <input type="hidden" name="ticket_status" id="form_ticket_status">
                                            <input type="hidden" name="ticket_product" id="form_ticket_product">
                                            <input type="hidden" name="ticket_develop" id="form_ticket_develop">
                                            <input type="hidden" name="ticket_finish" id="form_ticket_finish">
                                            <input type="hidden" name="ticket_status_name" id="form_ticket_status_name">
                                            <input type="hidden" name="ticket_product_name" id="form_ticket_product_name">
                                            <input type="hidden" name="ticket_develop_name" id="form_ticket_develop_name">
                                            <input type="hidden" name="ticket_finish_name" id="form_ticket_finish_name">
                                            <input type="hidden" name="insert" value="insert" />
                                            <input type="hidden" name="pid" value="{$main.w_id}">
                                            <div>
                                                <textarea name="editorValue" id="editorValue" placeholder="请输入回复内容"></textarea>
                                            </div>
                                            <p style="margin-top:20px;">
                                                <button type="button"  class="btn btn-primary btn-lg btn-reply" onclick="submitTicket()">回复</button>
                                            </p>
                                        </form>
                                    </div><!--messagereply-->
                                </if>
                                
                                
    
                            </div><!--messageview-->
                            
                        </div><!--messageright-->
                    </div><!--messagecontent-->
                </div><!--messagepanel-->
                
            </div><!--maincontentinner-->
        </div><!--maincontent-->
    </div>
</div><!--mainwrapper-->

<!-- 模态框START -->
<!-- 工单事件 -->
<div class="modal fade modal-comment" id="modal_ticket_event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title">
                        工单事件
                    </h4>
                </div>
                <div class="modal-body">
                    <ul class="record-list">
                        <volist name="data.record" id="vo">
                            <li>
                               <p class="note2">{$vo.time|date="Y-m-d H:i:s",###}</p>
                                {$vo.uname}{$vo.event}
                            </li>
                        </volist>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                </div>
            </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 模态框END -->
<input type="hidden" id="n_ticket_finish" value="{$main.work_finish}">

<div id="alertSuccess" class="alert alert-success fadeInDown animated">
    <a href="#" class="close">&times;</a>
    提交成功！
</div>

<iframe id="rfFrame" name="rfFrame" src="about:blank" style="display:none;"></iframe>

<script type="text/javascript">

    jQuery(".form-ticket-status select").change(function(){
        submitTicket();
    })

    function submitTicketSuccess() {
        var alertDom = jQuery("#alertSuccess");
        alertDom.show();
        if (window.alertTimeOut) {
            clearTimeout(window.alertTimeOut);
        }
        window.alertTimeOut = setTimeout(function(){
            alertDom.hide();
        }, 5000);
        var uid = "{$data['uid']}";

        jQuery.ajax({
            type: "post",
            url: "{:U('Api/ticket_reply_info')}",
            data: {
                "tid": "{$main.w_id}",
            },
            success: function(data){
                var data = JSON.parse(data);
                if (data.error_code == 0){
                    var editorDom = jQuery("#editorValue");
                    var replyDom = jQuery("#reply_wrap");
                    var scrollDom = replyDom.parents(".tab-content-wrap");
                    var listData = data.data;
                    var uname_tpl = '<&uname&>';
                    var date_tpl = '<&date&>';
                    var reply_tpl = '<&reply&>';
                    var mine_tpl = '<&mine&>'
                    var htmlTpl = '<div class="msgauthor"><div class="left head-portrait"><i class="icon-person"></i></div><div class="cell reply-right"><div class=""><span class="name">'+uname_tpl+'</span><span class="date">'+date_tpl+'</span></div><div clas=""><div class="msgbody '+mine_tpl+'">'+reply_tpl+'</div></div></div></div>';
                    if (listData && listData.length) {
                        var tpl = "";
                        for( var i=0; i < listData.length; i++ ){
                            var uname = listData[i].name || '';
                            var date = formatTimeStamp(listData[i].date+"000" || '');
                            var reply = listData[i].reply || '';
                            var mine = '';
                            if (listData[i].uid == uid) {
                                mine = 'mine';
                            }
                            var itemTpl = htmlTpl.replace(/<&uname&>/ig, uname).replace(/<&date&>/ig, date).replace(/<&reply&>/ig, reply).replace(/<&mine&>/ig, mine);
                            tpl += itemTpl;
                        }
                        replyDom.html(tpl);
                        if (jQuery.trim(editorDom.val()) != '') {
                            editorDom.val('');
                            scrollDom.animate({
                                scrollTop: scrollDom[0].scrollHeight
                            }, 500);
                        }
                    }
                }
            }
        })
    }

    function submitTicket() {
        var ticket_agent = jQuery("#select_ticket_agent").val();
        var ticket_status = jQuery("#select_ticket_status").val();
        var ticket_product = jQuery("#select_ticket_product").val();
        var ticket_develop = jQuery("#select_ticket_develop").val();
        var ticket_finish = jQuery("#ticket_finish").val();
        if (ticket_status == "2" && ticket_agent == "-1") {
            alert("请选择受理人");
            return false;
        }
        if (ticket_finish) {
            ticket_finish = ticket_finish.replace(/-/g,'/'); 
            var timestamp = new Date(ticket_finish).getTime()/1000;
        }
        jQuery("#form_agent").val(ticket_agent);
        jQuery("#form_ticket_status").val(ticket_status);
        jQuery("#form_ticket_product").val(ticket_product);
        jQuery("#form_ticket_develop").val(ticket_develop);
        jQuery("#form_ticket_finish").val(timestamp);
        jQuery("#form_agent_name").val(jQuery("#select_ticket_agent").find("option:selected").text());
        jQuery("#form_ticket_status_name").val(jQuery("#select_ticket_status").find("option:selected").text());
        jQuery("#form_ticket_product_name").val(jQuery("#select_ticket_product").find("option:selected").text());
        jQuery("#form_ticket_develop_name").val(jQuery("#select_ticket_develop").find("option:selected").text());
        jQuery("#form_ticket_finish_name").val(jQuery("#select_ticket_finish").find("option:selected").text());
        jQuery("#form_ticket").submit();
    }

    jQuery(document).ready(function(){
        jQuery('#ticket_finish').datepicker({
            language: "zh-CN",
            keepOpen: true,
            autoclose: true,
            clearBtn: true, //清除按钮
            todayBtn: false, //今日按钮
            format: "yyyy-mm-dd"
        });
        var nTicketFinish = jQuery("#n_ticket_finish").val();
        if (nTicketFinish) {
            jQuery("#ticket_finish").datepicker('setDate',new Date(nTicketFinish*1000)); //参数为毫秒数
        }

        jQuery("#form_ticket_statues select,#ticket_finish").change(function(){
            submitTicket();
        })

        showTabItem(0);
    })

    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }

    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function showTabItem(index) {
        var tabHead = jQuery(".head-tab");
        var tabContent = jQuery(".tab-content-wrap");
        tabHead.find("li").removeClass("on").eq(index).addClass("on");
        tabContent.find(".tab-item").hide().eq(index).show();
    }

</script>
</body>
</html>
