<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>工单系统</title>
<!-- header binge -->
<include file="Public/header" />

<style type="text/css">
    .box-wrap{
        border: 1px solid #DDD;
        overflow: hidden;
        min-height: 600px;
    }
    .aside{
        border-right: 1px solid #DDD;
    }
    .menu-wrap{
        width: 200px;
    }
    .menu-wrap .btn-auth{
        display: block;
        color: #000;
        text-decoration: none;
        text-align: center;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #DDD;
    }
    .menu-wrap .btn-auth:hover{
        background: #ececec;
    }    
    .main-wrap{
        padding: 30px;
    }
    .mian-head{
        margin-bottom: 20px;
    }
    .group-list a{
        display: block;
        color: #000;
        text-decoration: none;
        height: 30px;
        line-height: 30px;
        padding: 0 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .group-list li.active,
    .group-list li:hover{
        background: #0866c6;
        color: #FFF;
    }
    .group-list li.active a,
    .group-list li:hover a{
        color: #FFF;
    }    
    .add-group-wrap{
        padding: 10px;
    }
    .add-group-wrap::after,
    .mian-head::after{
        content: '';
        display: block;
        clear: both;
    }
    .add-group-title{
        display: inline-block;
        border-left: 2px solid #0866c6;
        padding-left: 10px;
        font-size: 14px;
        margin-top: 3px;
    }
    .add-group-btn{
        display: block;
        width: 80%;
        font-size: 12px;
        padding: 1px;
        margin: 10px auto;
    }   
    .active-group-name{
        font-size: 18px;
        margin-top: 10px;
    }
    .edit-user-wrap{
        width: 290px;
        margin: 0 auto;
    }
    .group-list li {
        position: relative;
    }
    .group-list li .icon-more-wrap{
        position: absolute;
        display: block;
        text-align: center;
        width: 40px;
        height: 30px;
        top: 0;
        right: 0;
        background: none;
        cursor: pointer;
        padding-top: 6px;
    }
    .group-menu-rights{
        position: absolute;
        top: 0;
        left: 0;
    }
    .group-menu-rights ul{
        background: #FFF;
    }    
</style>
<!-- header end -->

<script type="text/javascript" src="{$Think.config.URL}js/new/unify.js"></script>
</head>


<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
</head>
<body>

<!-- header binge -->
<include file="Public/head" />

<!-- header end -->
    
    <div class="rightpanel">
        <!-- head binge -->
        
			<include file="Public/nav" name='成员管理'/>
		
		<!-- head end -->
        <div class="pageheader">
            <div class="pagetitle">
                <h1>成员和组</h1>
            </div>
        </div><!--pageheader-->
        
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="row-fluid">
                   <div>
                        <div class="widgetbox personal-information">
                            <div class="box-wrap">
                                <div class="aside">
                                    <div class="menu-wrap">
                                        <a href="{:U('Admin/user_auth')}" class="btn-auth">授权名单</a>
                                        <div class="">
                                            <div class="add-group-wrap">
                                                <span class="add-group-title">群组列表</span>
                                                <button type="button" data-toggle="modal" class="btn right btn-primary btn-sm" data-target="#modal_add_group">添加群组</button>
                                            </div>
                                            <ul class="group-list" id="group_list">
                                                <volist name="list_group" id="vo">
                                                    <li data-id="{$vo.id}" <if condition="$vo.id eq $group_id">class="active"</if>>
                                                        <a href="{:U('Admin/user_manage',array('groupid'=>$vo['id']))}">
                                                            {$vo.status}
                                                        </a>
                                                        <span class="icon-more-wrap" onclick="handleGroup('{$vo.id}', '{$vo.status}')">
                                                            <i class="icon-more"></i>
                                                        </span>
                                                    </li>
                                                </volist>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="cell">
                                    <div class="main-wrap">
                                        <div class="mian-head">
                                            <!-- <label class="inline-block">群组：</label>
                                            <select class="form-control" id="group_select">
                                                <volist name="list_group" id="vo">
                                                    <option value="{$vo.id}">{$vo.status}</option>
                                                </volist>
                                            </select> -->
                                            <div class="left active-group-name" id="active_group_name"></div>
                                            <button type="button" data-toggle="modal" data-target="#modal_add_user" class="btn btn-success right">添加成员</button>
                                        </div>
                                        <table class="table table-bordered table-middle">
                                            <tr>
                                                <th width="250px;">账号</th>
                                                <th width="300px;">姓名</th>
                                                <th width="300px;">手机</th>
                                                <th width="400px;">邮箱</th>
                                                <th width="200px;">操作</th>
                                            </tr>
                                            <tbody id="table_user">
                                                <volist name="list_user" id="vo" empty="$list_user_empty">
                                                    <tr >
                                                        <td>{$vo.userid}</td>
                                                        <td>{$vo.uname}</td>
                                                        <td>{$vo.phone|default=" -- "}</td>
                                                        <td>{$vo.email|default=" -- "}</td>
                                                        <td>
                                                            <if condition="$vo.zl_status eq '-1'">
                                                                <button type="button" class="btn btn-sm btn-primary" onclick="verUser('{$vo.userid}')" style="margin-right: 10px;">确认授权</button>
                                                            </if>
                                                            <button type="button" class="btn btn-sm" onclick="editUser('{$vo.userid}')">编辑</button>
                                                            <!-- <button type="button" class="btn btn-sm btn-danger" onclick="delUser('{$vo.userid}')">删除</button> -->
                                                        </td>
                                                    </tr>
                                                </volist>
                                            </tbody>
                                        </table> 
                                        {$page}
                                    </div>
                                </div>
                            </div>
                                      
                        </div>
                        <div id="update" style="display:none;">
                           	<form class="editprofileform" method="post">
                               <input type="hidden" name="f_submit" value="f_submit">
                               <input type="hidden" name="id" id="id" value="">
                               
                                <div class="widgetbox personal-information">
                                    <h4 class="widgettitle">修改售后人员</h4>
                                    <div class="widgetcontent">
                                    	
                                     <div id="update01">
	                                    	<p>
	                                            <label>账号：</label>
	                                            <input type="text" name="userid" id="userid" class="input-xlarge" value="" />
	                                        </p>
	                                    	<p>
	                                            <label>姓名：</label>
	                                            <input type="text" name="uname" id="uname" class="input-xlarge" value="" />
	                                        </p>
	                                       	<p>
	                                            <label>密码：</label>
		                                        <a href="javascript:void();" onclick="xiu('s_manage');">修改密码？</a>
	                                         </p>
	                                       
	                                        <p>
	                                            <label>手机：</label>
	                                            <input type="text" name="phone" id="phone" class="input-xlarge" value="" />
	                                        </p>
	                                        <p>
	                                            <label>email：</label>
	                                            <input type="text" name="email" id="email" class="input-xlarge" value="" />
	                                        </p>
		                                
	                                    </div>
	                                    
		                                 <div id="update02" style="display:none;">
		                                 	
		                                 	<input type="hidden" name="pwd_status" id="pwd_status" value="">
                                        	<p>
	                                            <label>旧密码：</label>
	                                            <input type="password" name="pwd" id="pwd" class="input-xlarge" value="" />
	                                        </p>
	                                        <p>
	                                            <label>新密码：</label>
	                                            <input type="password" name="pwd01" id="pwd01" class="input-xlarge" value="" />
	                                        </p>
	                                        
	                                        <p>
	                                            <label>确认密码：</label>
	                                            <input type="password" name="pwd02" id="pwd02" class="input-xlarge" value="" />
	                                        </p>
	                                        
                                        </div>
                                        
                                        <p>
		                                	<a href="javascript:void();" class="btn btn-primary" onclick="update_t('s_manage');"><small>提交信息</small></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                                	<a href="javascript:void();" class="btn btn-primary" onclick="none('update');"><small>取消</small></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		                                	<span id="caozuo"></span>
		                                </p>
                                    </div>
                                </div>
                            </form>
                                       
                        </div>
                    </div><!--row-fluid-->
                
            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->

<!-- 群组右键菜单 -->
<div class="group-menu rights" id="group_rights">
    <input type="hidden" id="rights_group_id">
    <input type="hidden" id="rights_group_name">
    <ul>
        <li onclick="setGroupName()">编辑</li>
        <li onclick="delGroup()">删除</li>
    </ul>
</div>

<!-- 模态框 START -->

<!-- 添加新群组 -->
<div class="modal fade modal-add-group" id="modal_add_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{:U('Admin/group_add')}" method="post" enctype="multipart/form-data" id="form_group_add">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加新群组
                    </h4>
                </div>
                <div class="modal-body">
                    <p style="margin-top: 20px;">
                        <label class="left label-title" style="margin-top:4px;width:100px;">群组名称：</label>
                        <div class="cell">
                            <input type="text" name="name" placeholder="请输入新群组名称">
                        </div>
                    </p>
                    <p style="margin-top: 20px;">
                        <label class="left label-title" style="margin-top:4px;width:100px;">群组类型：</label>
                        <input type="hidden" name="type" id="group_type">
                        <div class="cell">
                            <select id="select_group_type">
                                <option value="3">客户</option>
                                <option value="2">服务</option>
                            </select>
                        </div>
                        <p class="note">* 客户类型：该类型用户主要提交工单，可创建、评论、评价和关闭工单。</p>
                        <p class="note" style="margin-bottom: 20px;">* 服务类型：该类型用户主要处理工单，可修改工单状态、评论工单和查看工单事件。</p>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" onclick="addGroup()">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal -->
</div>

<!-- 修改群组名称 -->
<div class="modal fade modal-set-group" id="modal_set_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{:U('Admin/group_set')}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改群组名称
                    </h4>
                </div>
                <div class="modal-body">
                    <p style="margin-top: 20px;">
                        <input type="hidden" name="id" id="set_group_id" value="">
                        <label class="left label-title" style="margin-top:4px;width:50px;">名称：</label>
                        <div class="cell">
                            <input type="text" name="name" id="set_group_name" placeholder="请输入群组名称">
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="submit" class="btn btn-primary">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal -->
</div>

<!-- 删除群组 -->
<div class="modal fade modal-del-group" id="modal_del_group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{:U('Admin/group_del')}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        删除群组
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="del_group_id">
                    确认删除<span id="group_del_name"></span>吗？
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="submit" class="btn btn-primary">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal -->
</div>

<!-- 添加新成员 -->
<div class="modal fade modal-add-user" id="modal_add_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{:U('Admin/user_add')}" method="post" enctype="multipart/form-data" id="form_user_add">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加新成员
                    </h4>
                </div>
                <div class="modal-body">
                    <p style="margin-top: 20px;">
                        <label class="left label-title" style="margin-top:4px;width:100px;">帐号：</label>
                        <div class="cell">
                            <input type="text" name="acc" placeholder="" id="add_user_acc">
                        </div>
                    </p>
                    <p style="margin-top: 20px;">
                        <label class="left label-title" style="margin-top:4px;width:100px;">名称：</label>
                        <div class="cell">
                            <input type="text" name="name" placeholder="" id="add_user_name">
                        </div>
                    </p>
                    <p style="margin-top: 10px;">
                        <label class="left label-title" style="margin-top:4px;width:100px;">密码：</label>
                        <div class="cell">
                            <input type="password" name="pwd" placeholder="" id="add_user_pwd">
                        </div>
                    </p>
                    <p style="margin-top: 10px;">
                        <label class="left label-title" style="margin-top:4px;width:100px;">确认密码：</label>
                        <div class="cell">
                            <input type="password" placeholder="" id="add_user_repwd">
                        </div>
                    </p>
                    <input type="hidden" name="status" id="user_status">
                    <p style="margin-top: 10px;">
                        <label class="left label-title" style="margin-top:4px;width:100px;">手机：</label>
                        <div class="cell">
                            <input type="number" name="phone" placeholder="" id="add_user_phone">
                        </div>
                    </p>
                    <p style="margin-top: 10px;">
                        <label class="left label-title" style="margin-top:4px;width:100px;">邮箱：</label>
                        <div class="cell">
                            <input type="text" name="email" placeholder="" id="add_user_email">
                        </div>
                    </p>
                    <!-- <p style="margin-top: 10px;">
                        <label class="left label-title" style="margin-top:4px;width:100px;">群组：</label>
                        <div class="cell">
                            <select class="form-control" id="add_user_type">
                                <volist name="list_group" id="vo">
                                    <option value="{$vo.id}">{$vo.status}</option>
                                </volist>
                            </select>
                        </div>
                    </p> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" onclick="addUser()">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal -->
</div>

<!-- 修改成员 -->
<div class="modal fade modal-add-user" id="modal_edit_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改信息
                    </h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="widgetbox personal-information">
                            <div class="edit-user-wrap">
                                <div id="update01">
                                    <p>
                                        <label>账号：</label>
                                        <input disabled type="text" name="userid" id="edit_userid" class="input-xlarge" value="" />
                                    </p>
                                        <p>
                                        <label>名称：</label>
                                        <input type="text" name="uname" id="edit_uname" class="input-xlarge" value="" />
                                    </p>
                                    <p>
                                        <label>手机：</label>
                                        <input type="number" name="phone" id="edit_phone" class="input-xlarge" value="" />
                                    </p>
                                    <p>
                                        <label>邮箱：</label>
                                        <input type="text" name="email" id="edit_email" class="input-xlarge" value="" />
                                    </p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="button" class="btn btn-primary" onclick="submitEditUser()">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal -->
</div>

<!-- 验证用户 -->
<div class="modal fade modal-ver-user" id="modal_ver_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{:U('Admin/user_ver')}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        授权成员
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="user_ver_id">
                    <h5>确认授权  <span id="user_ver_name"></span>  吗？</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="submit" class="btn btn-primary">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal -->
</div>

<!-- 删除用户 -->
<div class="modal fade modal-del-user" id="modal_del_user" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="{:U('Admin/user_del')}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        删除成员
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="id" id="user_del_id">
                    <h5>确认删除  <span id="user_del_name"></span>  吗？</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="submit" class="btn btn-primary">
                        确认
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </form>
    </div><!-- /.modal -->
</div>

<!-- 模态框 END -->

</body>
<script>

    jQuery(document).ready(function(){
        jQuery('.taglist .close').click(function(){
            jQuery(this).parent().remove();
            return false;
        });

        var groupName = jQuery.trim(jQuery("#group_list .active a").text());
        jQuery("#active_group_name").text(groupName);

        jQuery(document).click(function(){
            jQuery(".rights").hide();
        })
    });

    function addUser() {
        var acc = jQuery("#add_user_acc").val();
        var name = jQuery("#add_user_name").val();
        var pwd = jQuery("#add_user_pwd").val();
        var repwd = jQuery("#add_user_repwd").val();
        var type = jQuery("#add_user_type").val();

        if (!acc) {
            alert("请输入帐号！");
            return false;
        }
        if (!name) {
            alert("请输入名称！");
            return false;
        }
        if (!pwd || !repwd) {
            alert("请输入密码！");
            return false;
        }
        if (pwd != repwd) {
            alert("密码不一致！");
            return false;
        }

        var groupId = jQuery("#group_list li.active").data("id");
        jQuery("#user_status").val(groupId);
        jQuery("#form_user_add").submit();
    }

    function editUser(id) {
        jQuery.ajax({
            type: "post",
            url: "{:U('Admin/user_info')}",
            data: {
                id: id
            },
            success: function(data) {
                var acc = data.userid;
                var name = data.uname;
                var phone = data.phone;
                var email = data.email;
                jQuery("#edit_userid").val(acc);
                jQuery("#edit_uname").val(name);
                jQuery("#edit_phone").val(phone);
                jQuery("#edit_email").val(email);
                jQuery("#modal_edit_user").modal('show');
            }
        })
    }

    function submitEditUser(){
        var uname = jQuery("#edit_uname");
        if (!uname) {
            alert("名称不运行为空");
        }

        var postData = {
            userid: jQuery("#edit_userid").val(),
            uname: jQuery("#edit_uname").val(),
            phone: jQuery("#edit_phone").val(),
            email: jQuery("#edit_email").val(),
        }
        jQuery.ajax({
            type: "post",
            url: "{:U('Admin/user_edit')}",
            data: postData,
            success: function(data) {
               if (data.code == 0) {
                    window.location.reload();
               }
            }
        })
    }

    function delUser(uid) {
        jQuery("#user_del_name").text(uid);
        jQuery("#user_del_id").val(uid);
        jQuery("#modal_del_user").modal('show');
    }

    function verUser(uid) {
        jQuery("#user_ver_name").text(uid);
        jQuery("#user_ver_id").val(uid);
        jQuery("#modal_ver_user").modal('show');
    }

    jQuery("#group_select").change(function(){
        var groupId = jQuery(this).val();
        getGuoupUser(groupId);
    })

    function getGuoupUser(groupId) {
        jQuery.ajax({
            type: "post",
            url: "sel_group_user",
            data: {
                id: groupId
            },
            success: function (data) {
                var tbody = jQuery("#table_user");
                var html_tpl = '';
                var dataLen = data.length;
                if (dataLen) {
                    for(var i = 0; i < dataLen; i++) {
                        var verUserBtn = "";
                        if (data[i].zl_status == '-1'){
                            verUserBtn = '<button type="button" class="btn btn-sm btn-primary" onclick="verUser(\'' + data[i].userid + '\')" style="margin-right: 10px;">确认授权</button>'
                        }
                        html_tpl += '<tr><td>' + data[i].userid + '</td><td>' + data[i].uname + '</td><td>' + (data[i].phone || '--') + '</td><td>' + (data[i].email || '--') + '</td><td>'+verUserBtn+'<button type="button" class="btn btn-sm btn-danger" onclick="delUser(\'' + data[i].userid + '\')">删除</button></td></tr>'
                    }
                } else {
                    html_tpl = '<tr><td colspan="5" style="text-align: center;">暂无数据</td></tr>';
                }
                tbody.html(html_tpl);
            }
        })
    }

    function setGroupName() {
        var id = jQuery("#rights_group_id").val();
        var oriName = jQuery("#rights_group_name").val();
        jQuery("#set_group_id").val(id);
        jQuery("#set_group_name").val(oriName);
        jQuery('#modal_set_group').modal('show');
    }
    function addGroup() {
        var groupTypeVal = jQuery("#select_group_type").val();
        jQuery("#group_type").val(groupTypeVal);
        jQuery("#form_group_add").submit();
    }
    function delGroup() {
        var id = jQuery("#rights_group_id").val();
        var oriName = jQuery("#rights_group_name").val();
        jQuery("#del_group_id").val(id);
        jQuery("#group_del_name").text(name);
        jQuery('#modal_del_group').modal('show');
    }
    function handleGroup(id, name){
        window.event?window.event.cancelBubble=true:event.stopPropagation();
        var obj = event.target;
        var w = obj.offsetWidth, h = obj.offsetHeight;
        //从目标元素开始向外遍历，累加top和left值
        for (var t = obj.offsetTop, l = obj.offsetLeft; obj = obj.offsetParent;) {
            t += obj.offsetTop;
            l += obj.offsetLeft;
        }
        jQuery("#group_rights").css('top', t + 10);
        jQuery("#group_rights").css('left', l + 10);
        jQuery("#rights_group_id").val(id);
        jQuery("#rights_group_name").val(name);
        jQuery("#group_rights").show();
    }

    

</script>
</html>