<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>工单系统</title>

<!-- header binge -->
<include file="Public/header" />

<style type="text/css">
	.rightpanel {
		background: none;
	}
	.widget-group-wrap {
		padding: 20px;
		border: 1px solid #dbe9f7;
		border-radius: 3px;
	}
	.widget-group-wrap::after{
		content: '';
		display: block;
		clear: both;
	}	
	.widget-item{
		float: left;
		width: 25%;
		text-align: center;
		color: #000000;
	}
	.agent .widget-item{
		width: 20%;
	}
	.widget-item .bottom{
		padding-top: 15px;
	}	
	.widget-item i{
		vertical-align: -15px;
	}
	.widget-item .num{
		display: inline-block;
		font-size: 40px;
		font-weight: bold;
		margin-left: 10px;
	}	
	.ticket-add-wrap{
		display: block;
		margin-top: 20px;
		padding-top: 50px;
		height: 140px;
		border: 1px dashed #0866c6;
		border-radius: 3px;
		color: #0866c6;
		font-size: 18px;
		text-align: center;
	}
	.ticket-add-wrap:hover{
		text-decoration: none;
		color: #0866c6;
	}	

</style>
<!-- header end -->

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
</head>
<body>

<!-- header binge -->
<include file="Public/head" />

<!-- header end -->


    <div class="rightpanel">
        <ul class="breadcrumbs">
            <li><a href="{:U('Console/dashboard')}"><i class="iconfa-home"></i></a> <span class="separator"></span></li>
            <li>面板</li>
        </ul>
        <div class="maincontent">
            <div class="maincontentinner">
				<if condition="$data.limits eq 3 ">
					<div class="widget-group-wrap">
						<a href="{:U('Client/messages?case=create')}">
							<div class="widget-item">
								<h3>我创建的工单</h3>
								<div class="bottom">
									<i class="icon-ticket-my"></i>
									<span class="num">{$ticket_count.c_mycreate}</span>
								</div>
							</div>
						</a>

						<a href="{:U('Client/messages?case=create')}">
							<div class="widget-item">
								<h3>待我回复的工单</h3>
								<div class="bottom">
									<i class="icon-ticket-reply"></i>
									<span class="num">{$ticket_count.c_reply}</span>
								</div>
							</div>
						</a>

						<a href="{:U('Client/messages?case=ping')}">
							<div class="widget-item">
								<h3>待我评价的工单</h3>
								<div class="bottom">
									<i class="icon-ticket-comment"></i>
									<span class="num">{$ticket_count.c_comment}</span>
								</div>
							</div>
						</a>

						<a href="{:U('Client/messages?case=yi')}">
							<div class="widget-item">
								<h3>已关闭的工单</h3>
								<div class="bottom">
									<i class="icon-ticket-close"></i>
									<span class="num">{$ticket_count.c_close}</span>
								</div>
							</div>
						</a>
					</div>
					<a href="{:U('Client/forms')}" class="ticket-add-wrap">
						<i class="icon-ticket-add"></i>
						<br>
						创建工单
					</a>
				</if>

				<if condition="$data.limits eq 2">
					<div class="widget-group-wrap agent">

						<a href="{:U('Client/messages?case=all')}">
							<div class="widget-item">
								<h3>未指派的工单</h3>
								<div class="bottom">
									<i class="icon-ticket-all"></i>
									<span class="num">{$ticket_count.c_unass}</span>
								</div>
							</div>
						</a>

						<a href="{:U('Client/messages?case=manned')}">
							<div class="widget-item">
								<h3>分配给我的工单</h3>
								<div class="bottom">
									<i class="icon-ticket-my"></i>
									<span class="num">{$ticket_count.c_myticket}</span>
								</div>
							</div>
						</a>

						<a href="{:U('Client/messages?case=zhong')}">
							<div class="widget-item">
								<h3>受理中的工单</h3>
								<div class="bottom">
									<i class="icon-ticket-comment"></i>
									<span class="num">{$ticket_count.c_admissible}</span>
								</div>
							</div>
						</a>

						<a href="{:U('Client/messages?case=ping')}">
							<div class="widget-item">
								<h3>待评价的工单</h3>
								<div class="bottom">
									<i class="icon-ticket-assess"></i>
									<span class="num">{$ticket_count.c_comment}</span>
								</div>
							</div>
						</a>

						<a href="{:U('Client/messages?case=yi')}">
							<div class="widget-item">
								<h3>已关闭的工单</h3>
								<div class="bottom">
									<i class="icon-ticket-close"></i>
									<span class="num">{$ticket_count.c_close}</span>
								</div>
							</div>
						</a>
					</div>
				</if>

            </div><!--maincontentinner-->
        </div><!--maincontent-->
    </div><!--rightpanel-->
</div><!--mainwrapper-->
<script type="text/javascript">
    jQuery(document).ready(function() {
      // simple chart
		var flash = [[0, 11], [1, 9], [2,12], [3, 8], [4, 7], [5, 3], [6, 1]];
		var html5 = [[0, 5], [1, 4], [2,4], [3, 1], [4, 9], [5, 10], [6, 13]];
      var css3 = [[0, 6], [1, 1], [2,9], [3, 12], [4, 10], [5, 12], [6, 11]];
		function showTooltip(x, y, contents) {
			jQuery('<div id="tooltip" class="tooltipflot">' + contents + '</div>').css( {
				position: 'absolute',
				display: 'none',
				top: y + 5,
				left: x + 5
			}).appendTo("body").fadeIn(200);
		}
		var plot = jQuery.plot(jQuery("#chartplace"),
			   [ { data: flash, label: "Flash(x)", color: "#6fad04"},
              { data: html5, label: "HTML5(x)", color: "#06c"},
              { data: css3, label: "CSS3", color: "#666"} ], {
				   series: {
					   lines: { show: true, fill: true, fillColor: { colors: [ { opacity: 0.05 }, { opacity: 0.15 } ] } },
					   points: { show: true }
				   },
				   legend: { position: 'nw'},
				   grid: { hoverable: true, clickable: true, borderColor: '#666', borderWidth: 2, labelMargin: 10 },
				   yaxis: { min: 0, max: 15 }
				 });
		var previousPoint = null;
		jQuery("#chartplace").bind("plothover", function (event, pos, item) {
			jQuery("#x").text(pos.x.toFixed(2));
			jQuery("#y").text(pos.y.toFixed(2));
			if(item) {
				if (previousPoint != item.dataIndex) {
					previousPoint = item.dataIndex;
						
					jQuery("#tooltip").remove();
					var x = item.datapoint[0].toFixed(2),
					y = item.datapoint[1].toFixed(2);
						
					showTooltip(item.pageX, item.pageY,
									item.series.label + " of " + x + " = " + y);
				}
			
			} else {
			   jQuery("#tooltip").remove();
			   previousPoint = null;            
			}
		});
		jQuery("#chartplace").bind("plotclick", function (event, pos, item) {
			if (item) {
				jQuery("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
				plot.highlight(item.series, item.datapoint);
			}
		});
        //datepicker
        jQuery('#datepicker').datepicker();
        
        // tabbed widget
        jQuery('.tabbedwidget').tabs();
    });
</script>
</body>
</html>