<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>工单系统</title>


<!-- header binge -->
<include file="Public/header" />

<script type="text/javascript" src="{$Think.config.URL}js/new/unify.js"></script>
<script type="text/javascript" src="{$Think.config.URL}baidubianjiqi/third-party/jquery.min.js"></script>



<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="js/excanvas.min.js"></script><![endif]-->
</head>
<body>

<!-- header binge -->
<include file="Public/head" />

<!-- header end -->


    <div class="rightpanel">
        <!-- head binge -->
        <include file="Public/nav" name='新工单'/>
		<!-- head end -->
        
        <div class="pageheader">
<!--             <form action="results.html" method="post" class="searchbar"> -->
<!--                 <input type="text" name="keyword" placeholder="To search type and hit enter..." /> -->
<!--             </form> -->
            <div class="pageicon"><span class="iconfa-pencil"></span></div>
            <div class="pagetitle">
                <h5 style="height:10px;"></h5>
                <h1>新工单</h1>
            </div>
        </div><!--pageheader-->
        <div class="maincontent">
            <div class="maincontentinner">
            <h4 class="widgettitle">新工单</h4>
            <div class="widgetcontent">
                <form id="form01" class="stdform" action="{:U('Client/forms')}" method="post" enctype="multipart/form-data">
                	<input type="hidden" name="uid" id="uid" value="{$data.uid}">
                	<input type="hidden" name="x_wid" id="x_wid" value="{$list.id}">
                	<input type="hidden" name="y_title" id="y_title" value="{$list.title}">
                	<p>
                        <label>主题</label>
                        <span class="field"><input type="text" name="title" id="title" class="input-xxlarge" placeholder="工单主题" value="{$list.title}"/>&nbsp;&nbsp;&nbsp;&nbsp;<font color="red"></font></span>
                    </p>
                    <p>
                        <label>工单类型</label>
                        <select name="type" id="type">
                            <option value="1">产品Bug</option>
                            <option value="2">新需求</option>
                            <option value="3">投诉与建议</option>
                            <option value="4">其它</option>
                        </select>                        
                    </p>
                    <p>
                        <label>优先级</label>
                        <select name="level" id="level">
                            <option value="3">紧急</option>
                            <option value="2">重要</option>
                            <option value="1">一般</option>
                        </select>                        
                    </p>
                    <p>
                        <label>所属客户</label>
                        <select name="owned" id="owned">
                            <option value="1">客户A</option>
                            <option value="2">客户B</option>
                            <option value="3">客户C</option>
                        </select>                        
                    </p>
                    <p>
                        <label>描述</label>
                        <div class="field">
                            <textarea name="editorValue" id="editorValue" width="530" height="200"></textarea>
                        </div>
                    </p>

                    <!-- 附件上传 START -->

                    <div id="file_w">
                     	<input type="hidden" id="file_j" value="1">
                     	<input type="hidden" id="file_de" value="1">
	                     <div class="par" id="file_j1">
						    <label>
                                上传文件<br>
                                <span class="note">(大小不超过50M)</span>
                            </label>
						    <div class="fileupload fileupload-new" data-provides="fileupload">
							<div class="input-append">
							<div class="uneditable-input span3">
							    <i class="iconfa-file fileupload-exists"></i>
							    <span class="fileupload-preview"></span>
							</div>
							<span class="btn btn-file"><span class="fileupload-new">选择</span>
							<span class="fileupload-exists">修改</span>
							<input type="file" name='file[]' id='file_s1'/></span>
								<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">取消</a>
							</div>
								<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:void();" onclick="file_d();"  class="iconfa-plus">&nbsp;&nbsp;增加一个</a></span>
								<!-- <span>&nbsp;&nbsp;&nbsp;&nbsp;<font color="red">上传格式：jpg，gif，peg，jpeg</font></span> -->
						    </div>
						</div>
                   	</div>

                    <!-- 附件上传 END -->
                    
                   	<br/>
                   	
                     
                   	<p>
                   		<label></label>
                    	<a href="javascript:void();" class="btn btn-primary" onclick="update_t('forms');"><small>提交工单</small></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    	<!-- <a href="javascript:void();" class="btn btn-primary" onclick="update_t('c_forms');"><small>保存到草稿箱</small></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
                    </p>
                     <input type="hidden" name="cc_status" id="cc_status" value="">
                <input type="hidden" id="result" value="{$ok}">
                </form>
            </div><!--widgetcontent-->
            </div><!--widget-->
            
            
            
            
        		 <!-- footer binge -->
				<include file="Public/footer" />
				
				<!-- footer end -->
                
            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->
<script type="text/javascript">
    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            domUtils.removeAttributes(btn, ["disabled"]);
        }
    }
</script>
</body>
</html>
