<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>工单系统</title>
<!-- header binge -->
<include file="Public/header" />

<script type="text/javascript" src="{$Think.config.URL}js/new/unify.js"></script>

<style type="text/css">
	a:hover{
		text-decoration:none;
	}
    .comments li:last-child .comment p{margin-top:15px;}
    .modal-comment form input[type='radio']{
        vertical-align: -2px;
    }
    .modal-comment form .label-title{
        display: inline-block;
        width: 150px;
    }    
    .modal-comment form input[type='radio']{
        margin-left: 10px;
    }    
    .datepicker-wrap{
        position: absolute;
        top: 0;
        left: 0;
        background: #FFF;
        box-shadow: 0 3px 3px 3px rgba(0,0,0,.5);
    }
</style>
</head>

<body>

<div class="mainwrapper">
    
    <!-- header binge -->
	<include file="Public/head" />

	<!-- header end -->
    
    <div class="rightpanel">
        
         <!-- head binge -->
        
			<include file="Public/nav" name='处理工单'/>
		
		<!-- head end -->
		
        <div class="maincontent">
            <div class="maincontentinner">
                <div class="messagepanel">
                    <div class="messagemenu">
                        <!-- <ul>
                            <li class="back"><a><span class="iconfa-chevron-left"></span > Back</a></li>
                            <li <if condition="$data.case eq 'dai'">{$data.class}</if>><a href="{:U('Client/messages?case=dai')}" ><span></span> 待处理的工单</a></li>
                            <li <if condition="$data.case eq 'zhong'">{$data.class}</if>><a href="{:U('Client/messages?case=zhong')}"><span class="iconfa-inbox"></span> 处理中的工单</a></li>
                            <li <if condition="$data.case eq 'yi'">{$data.class}</if>><a href="{:U('Client/messages?case=yi')}"><span class="iconfa-edit"></span> 已关闭的工单</a></li>
                            <if condition="$data.limits eq '3'">
                            	<li <if condition="$data.case eq 'cao'">{$data.class}</if>><a href="{:U('Client/messages?case=cao')}"><span class="iconfa-edit"></span> 草稿箱</a></li>
                            </if>
                        </ul> -->
                    </div>
                    <div class="messagecontent" style="border: none;">
                        <if condition="$limits eq '3'">
                            <div class="form-wrap head sm-select">
                                <div class="left">
                                    <label for="ticket_owned" class="form-label">所属客户</label>
                                    <select id="ticket_owned">
                                        <option value="0">全部</option>
                                        <option value="1">客户A</option>
                                        <option value="2">客户B</option>
                                        <option value="3">客户C</option>
                                    </select>
                                </div>
                                <div class="left">
                                    <label for="ticket_agent" class="form-label">受理人</label>
                                    <select id="ticket_agent">
                                        <option value="0">全部</option>
                                        <volist name="agent_list_info" id="vo">
                                            <option value="{$vo.id}">{$vo.uname}</option>
                                        </volist>
                                    </select>
                                </div>
                                <div class="left">
                                    <label for="ticket_status" class="form-label">状态</label>
                                    <select id="ticket_status">
                                        <option value="0">全部</option>
                                        <option value="1">待处理</option>
                                        <option value="2">正在研发中</option>
                                        <option value="4">待评价</option>
                                    </select>
                                </div>
                                <div class="left">
                                    <label for="ticket_level" class="form-label">优先级</label>
                                    <select id="ticket_level">
                                        <option value="0">全部</option>
                                        <option value="3">紧急</option>
                                        <option value="2">重要</option>
                                        <option value="1">一般</option>
                                    </select>
                                </div>
                                <div class="left">
                                    <label for="ticket_type" class="form-label">工单类型</label>
                                    <select id="ticket_type">
                                        <option value="0">全部</option>
                                        <option value="1">产品BUG</option>
                                        <option value="2">新需求</option>
                                        <option value="3">投诉与建议</option>
                                        <option value="4">其它</option>
                                    </select>
                                </div>
                                <div class="left">
                                    <button type="button" class="btn btn-primary btn-lg" onclick="selectTicket()">查询</button>
                                </div>
                            </div>
                            <table class="table table-bordered table-fixed table-tr-click">
                                <tr>
                                    <th width="5%">编号</th>
                                    <th width="25%">标题</th>
                                    <th width="10%">工单类型</th>
                                    <th width="5%">优先级</th>
                                    <th width="10%">状态</th>
                                    <th width="5%">产品确认</th>
                                    <th width="5%">研发确认</th>
                                    <th width="10%">完成时间</th>
                                    <th width="10%">负责人</th>
                                    <th width="15%">提交时间</th>
                                </tr>
                                <volist name="list" id="vo" empty="$list_empty">
                                    <tr onclick="javascript:window.location.href='{:U(\'Client/detail?case=\'.$data[\'case\'].\'&id=\'.$vo[\'id\'])}'">
                                        <td>{$vo.id}</td>
                                        <td>{$vo.title}</td>
                                        <td>
                                            <switch name="vo['work_type']">
                                                <case value="1">产品BUG</case>
                                                <case value="2">新需求</case>
                                                <case value="3">投诉与建议</case>
                                                <case value="4">其它</case>
                                            </switch>
                                        </td>
                                        <td>
                                            <switch name="vo['work_level']">
                                                <case value="1">一般</case>
                                                <case value="2">重要</case>
                                                <case value="3">紧急</case>
                                            </switch>
                                        </td>
                                        <td>
                                            <switch name="vo['wc_sataus']">
                                                <case value="1">待处理</case>
                                                <case value="2">正在研发中</case>
                                                <case value="4">待评价</case>
                                                <case value="3">已关闭</case>
                                                <case value="-1">草稿箱</case>
                                            </switch>
                                        </td>
                                        <td>
                                            <switch name="vo['work_product']">
                                                <case value="1">已确认</case>
                                                <case value="2">已拒绝</case>
                                                <default />--
                                            </switch>
                                        </td>
                                        <td>
                                            <switch name="vo['work_develop']">
                                                <case value="1">已确认</case>
                                                <case value="2">已拒绝</case>
                                                <default />--
                                            </switch>
                                        </td>
                                        <if condition="$vo['work_finish'] neq ''">
                                            <td>{$vo.work_finish|date="Y-m-d",###}</td>
                                        <else/>
                                            <td>--</td>
                                        </if>
                                        <td>
                                            {$vo.dname|default=" -- "}
                                        </td>
                                        <td>{$vo.puddate|date="Y-m-d H:i:s",###}</td>
                                    </tr>
                                </volist>
                            </table> 
                            {$page}
                        </if>

                        <if condition="$limits eq '2'">
                            <div class="form-wrap head sm-select">
                                <div class="left">
                                    <label for="ticket_owned" class="form-label">所属客户</label>
                                    <select id="ticket_owned">
                                        <option value="0">全部</option>
                                        <option value="1">客户A</option>
                                        <option value="2">客户B</option>
                                        <option value="3">客户C</option>
                                    </select>
                                </div>
                                <div class="left">
                                    <label for="ticket_status" class="form-label">状态</label>
                                    <select id="ticket_status">
                                        <option value="0">全部</option>
                                        <option value="1">待处理</option>
                                        <option value="2">正在研发中</option>
                                        <option value="4">待评价</option>
                                    </select>
                                </div>
                                <div class="left">
                                    <label for="ticket_level" class="form-label">优先级</label>
                                    <select id="ticket_level">
                                        <option value="0">全部</option>
                                        <option value="3">紧急</option>
                                        <option value="2">重要</option>
                                        <option value="1">一般</option>
                                    </select>
                                </div>
                                <div class="left">
                                    <label for="ticket_type" class="form-label">工单类型</label>
                                    <select id="ticket_type">
                                        <option value="0">全部</option>
                                        <option value="1">产品BUG</option>
                                        <option value="2">新需求</option>
                                        <option value="3">投诉与建议</option>
                                        <option value="4">其它</option>
                                    </select>
                                </div>
                                <div class="left">
                                    <button type="button" class="btn btn-primary btn-lg" onclick="selectTicket()">查询</button>
                                </div>
                            </div>

                            <table class="table table-bordered table-fixed table-tr-click">
                                <tr>
                                    <th width="5%">编号</th>
                                    <th width="20%">标题</th>
                                    <th width="5%">工单类型</th>
                                    <th width="5%">优先级</th>
                                    <th width="5%">状态</th>
                                    <th width="10%">产品确认</th>
                                    <th width="10%">研发确认</th>
                                    <th width="10%">完成时间</th>
                                    <th width="10%">工单发起人</th>
                                    <th width="12%">创建日期</th>
                                    <if condition="$data.case neq 'all'">
                                        <th width="12%">受理时间</th>
                                    </if>
                                </tr>
                                <volist name="list" id="vo" empty="$list_empty">
                                    <tr onclick="javascript:window.location.href='{:U(\'Client/detail_agent?case=\'.$data[\'case\'].\'&id=\'.$vo[\'id\'])}'">
                                        <td>{$vo.id}</td>
                                        <td>{$vo.title}</td>
                                        <td>
                                            <switch name="vo['work_type']">
                                                <case value="1">产品BUG</case>
                                                <case value="2">新需求</case>
                                                <case value="3">投诉与建议</case>
                                                <case value="4">其它</case>
                                            </switch>
                                        </td>
                                        <td>
                                            <switch name="vo['work_level']">
                                                <case value="1">一般</case>
                                                <case value="2">重要</case>
                                                <case value="3">紧急</case>
                                            </switch>
                                        </td>
                                        <td>
                                            <switch name="vo['wc_sataus']">
                                                <case value="1">待处理</case>
                                                <case value="2">正在研发中</case>
                                                <case value="4">待评价</case>
                                                <case value="3">已关闭</case>
                                                <case value="-1">草稿箱</case>
                                            </switch>
                                        </td>
                                        <td>
                                            <switch name="vo['work_product']">
                                                <case value="1">已确认</case>
                                                <case value="2">已拒绝</case>
                                                <default />
                                                <button type="button" class="btn btn-sm btn-success" onclick="workSetProduct({$vo.id},'1')">确认</button>
                                                <button type="button" class="btn btn-sm btn-danger" onclick="workSetProduct({$vo.id},'2')">拒绝</button>
                                            </switch>
                                        </td>
                                        <td>
                                            <switch name="vo['work_develop']">
                                                <case value="1">已确认</case>
                                                <case value="2">已拒绝</case>
                                                <default />
                                                <button type="button" class="btn btn-sm btn-success" onclick="workSetDevelop({$vo.id},'1')">确认</button>
                                                <button type="button" class="btn btn-sm btn-danger" onclick="workSetDevelop({$vo.id},'2')">拒绝</button>
                                            </switch>
                                        </td>
                                        <if condition="$vo['work_finish'] neq ''">
                                            <td>{$vo.work_finish|date="Y-m-d",###}</td>
                                        <else/>
                                            <td>
                                                <button type="button" id="show_time_btn_{$vo.id}" class="btn btn-sm" onclick="workShowFinish({$vo.id})">--</button>
                                            </td>
                                        </if>
                                        <td>
                                            {$vo.uname|default=" -- "}
                                        </td>
                                        <td>{$vo.puddate|date="Y-m-d H:i:s",###}</td>
                                        <if condition="$data.case neq 'all'">
                                            <if condition="$vo['accdate'] neq ''">
                                                <td>{$vo.accdate|date="Y-m-d H:i:s",###}</td>
                                            <else/>
                                                <td>--</td>
                                            </if>
                                        </if>
                                    </tr>
                                </volist>
                            </table> 
                            {$page}
                        </if>

                    </div><!--messagecontent-->

                </div><!--messagepanel-->

            </div><!--maincontentinner-->
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->

<!-- datepicker -->
<div class="datepicker-wrap">
    <input type="text" class="datepicker" id="date_picker" style="display:none;">
</div>

<input type="hidden" value="{$data.case}" id="ticket_case">
<input type="hidden" value="{$ticket_type}" id="de_ticket_type">
<input type="hidden" value="{$ticket_status}" id="de_ticket_status">
<input type="hidden" value="{$ticket_level}" id="de_ticket_level">
<input type="hidden" value="{$ticket_agent}" id="de_ticket_agent">
<input type="hidden" value="{$ticket_owned}" id="de_ticket_owned">

<!-- 评价模态框 -->
<div class="modal fade modal-comment" id="modal_comment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
        <form action="{:U('Client/close_ticket')}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        工单评价
                    </h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="pid" value="{$main.w_id}">
                    <div style="zoom:1;">
                        <span>请进行服务评价</span><span style="float:right">评价后将自动关闭工单</span>
                    </div>
                    <p style="margin-top: 20px;">
                        <label class="left label-title">问题是否已经解决</label>
                        <div class="cell">
                            <input type="radio" name="resolve" value="1"> 是
                            <input type="radio" name="resolve" value="0"> 否
                        </div>
                    </p>
                    <p style="margin-top: 10px;">
                        <label class="left label-title">服务评价</label>
                        <div class="cell">
                            <input type="radio" name="assess" value="3"> 非常满意
                            <input type="radio" name="assess" value="2"> 满意
                            <input type="radio" name="assess" value="1"> 一般
                            <input type="radio" name="assess" value="0"> 不满意
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消
                    </button>
                    <button type="submit" class="btn btn-primary">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </form>
	</div><!-- /.modal -->
</div>

<script type="text/javascript">

    function disableBtn(str) {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            if (btn.id == str) {
                domUtils.removeAttributes(btn, ["disabled"]);
            } else {
                btn.setAttribute("disabled", "true");
            }
        }
    }
    function enableBtn() {
        var div = document.getElementById('btns');
        var btns = domUtils.getElementsByTagName(div, "button");
        for (var i = 0, btn; btn = btns[i++];) {
            domUtils.removeAttributes(btn, ["disabled"]);
        }
    }

    function workSetProduct(wid, val) {
        window.event?window.event.cancelBubble=true:event.stopPropagation();  
        jQuery.ajax({
            type: 'post',
            url: '{:U(\'Client/ticket_product\')}',
            data: {
                id: wid,
                val: val
            },
            success:function(data) {
                if (data.code == 0){
                    window.location.reload();
                } else {
                    alert("修改失败");
                }
            }
        })
    }

    function workSetDevelop(wid, val) {
        window.event?window.event.cancelBubble=true:event.stopPropagation();  
        jQuery.ajax({
            type: 'post',
            url: '{:U(\'Client/ticket_develop\')}',
            data: {
                id: wid,
                val: val
            },
            success:function(data) {
                if (data.code == 0){
                    window.location.reload();
                } else {
                    alert("修改失败");
                }
            }
        })
    }

    function workShowFinish(wid) {
        window.event?window.event.cancelBubble=true:event.stopPropagation();  
        window.activeTicketId = wid;
        var btnDom = jQuery("#show_time_btn_"+wid);
        var obj = btnDom[0];
        var w = obj.offsetWidth, h = obj.offsetHeight;  
        //从目标元素开始向外遍历，累加top和left值  
        for (var t = obj.offsetTop, l = obj.offsetLeft; obj = obj.offsetParent;) {  
            t += obj.offsetTop;  
            l += obj.offsetLeft;  
        }  
        jQuery("#date_picker").datepicker("show");
        jQuery(".dropdown-menu").css('top', t+30);
        jQuery(".dropdown-menu").css('left', l);
    }
    
    jQuery("#date_picker").change(function(){
        var time = jQuery("#date_picker").val();
        var wid = window.activeTicketId;
        if (time) {
            time = time.replace(/-/g,'/'); 
            var timestamp = new Date(time).getTime()/1000;
            jQuery.ajax({
                type: 'post',
                url: '{:U(\'Client/ticket_finish\')}',
                data: {
                    id: wid,
                    val: timestamp
                },
                success:function(data) {
                    if (data.code == 0){
                        window.location.reload();
                    } else {
                        alert("修改失败");
                    }
                }
            })
        }
    });

    function selectTicket() {
        var ticket_status = jQuery("#ticket_status").val();
        var ticekt_level = jQuery("#ticket_level").val();
        var ticket_type = jQuery("#ticket_type").val();
        var ticket_case = jQuery("#ticket_case").val();
        var ticket_owned = jQuery("#ticket_owned").val();
        var ticket_agent = jQuery("#ticket_agent").val() || '0';

        var url = "{:U('Client/messages', array('case'=>'ticket_case','tktype'=>'ticket_type','tklevel'=>'ticekt_level','tkstatus'=>'ticket_status','tkagent'=>'ticket_agent','tkowned'=>ticket_owned))}";
        url = url.replace("ticket_case", ticket_case)
                 .replace("ticket_type", ticket_type)
                 .replace("ticekt_level", ticekt_level)
                 .replace("ticket_status", ticket_status)
                 .replace("ticket_owned", ticket_owned)
                 .replace("ticket_agent", ticket_agent);
        jQuery(location).attr('href', url);
    }

    jQuery(document).ready(function(){
        var de_ticket_type = jQuery("#de_ticket_type").val();
        var de_ticket_status = jQuery("#de_ticket_status").val();
        var de_ticket_level = jQuery("#de_ticket_level").val();
        var de_ticket_agent = jQuery("#de_ticket_agent").val();
        var de_ticket_owned = jQuery("#de_ticket_owned").val();
        if (de_ticket_type) {
            jQuery("#ticket_type").val(de_ticket_type);
        }
        if (de_ticket_status) {
            jQuery("#ticket_status").val(de_ticket_status);
        }
        if (de_ticket_level) {
            jQuery("#ticket_level").val(de_ticket_level);
        }
        if (de_ticket_agent) {
            jQuery("#ticket_agent").val(de_ticket_agent);
        }
        if (de_ticket_owned) {
            jQuery("#ticket_owned").val(de_ticket_owned);
        }

        jQuery('#date_picker').datepicker({
            language: "zh-CN",
            keepOpen: true,
            autoclose: true,
            clearBtn: false, //清除按钮
            todayBtn: false, //今日按钮
            format: "yyyy-mm-dd"
        });
    })

</script>
</body>
</html>
